.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Clear float biar tidak rusak */
.lessons::after {
  content: "";
  display: block;
  clear: both;
}
